.item {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 15px;
	margin: 10px 0;
	padding-bottom: 10px;
	border-bottom: solid 1px #dad9d9;
	min-width: 400px;
}

.item:first-child {
	padding-top: 10px;
	border-top: solid 1px #dad9d9;
}

.name {
	width: 100%;
}

.done {
	text-decoration: line-through;
}
