.container {
	display: inline-block;
	background-color: var(--light-gray);
	padding: 32px 24px;
	border-radius: 12px;
	max-width: 800px;
	min-width: 400px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 100px;
	margin-bottom: 40px;
}

.button {
	background-color: var(--main-color);
	border: 0;
	width: 50px;
	border-radius: 50%;
	aspect-ratio: 1;
	font-size: 2.2rem;
	color: var(--white);
}
